---
title: "Art"
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
    <head>
        {% include head.html %}
        <link rel="stylesheet" href="/assets/css/art.css">
    </head>
    <body>
        <div id="fade" class="fade"></div>
        <script src="/assets/js/fancy-links.js" defer></script>
        
        <header>
            {% include nav.html %}
        </header>
        
        <main>
            {% for art in site.art reversed %}
                <a href="{{ art.url }}" class="gallery-img">
                    <img src="https://wsrv.nl/?url={{ art.src | absolute_url }}&w=300&h=300&fit=cover&maxage=30d" onerror="this.style.display = 'none'" draggable="false" loading="lazy" />
                </a>
            {% endfor %}
        </main>
    </body>
</html>