---
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
    <head>
        {% include head.html %}
        <link rel="stylesheet" href="/assets/css/art.css">
    </head>
    <body>
        <div id="fade" class="fade"></div>
        <script src="/assets/js/fancy-links.js" defer></script>
        
        <header>
            {% include nav.html %}
        </header>
        
        <main>
            {% for art in site.art reversed %}
                <a href="https://wsrv.nl/?url={{ art.url }}&w=200&h=200"><img src="{{ art.src }}" draggable="false" loading="lazy" /></a>
            {% endfor %}
        </main>
    </body>
</html>