---
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
    <head>
        {% include head.html %}
        <link rel="stylesheet" href="/assets/css/index.css">
    </head>
    <body>
        <script src="/assets/js/fancy-links.js" defer></script>
        
        <header>
            {% include nav.html %}
            <h1 class="giant" data-text="Luke Arcamo">Luke<br>Arcamo</h1>
        </header>
        
        <main>
            <section class="about">
                <h2>About</h2>
                {% assign year_fraction = "now" | date: "%j" | divided_by: 365 %}
                <blockquote>
                    <i>“But I am an artist too, and therefore a liar. Distrust everything I say. I am telling the truth.”</i> —Ursula K. Le Guin<br><br>
                </blockquote>
                <p>
                    Hello! My name is Luke, and I am a {{ "now" | date: "%y" | plus: year_fraction | minus: 4.712 | round }} year old chemical engineering student from Toronto.
                    I created this website to showcase the projects I have worked on throughout my life, personal or professional, spanning art and science.
                </p>
                {% include contact.html %}
            </section>

            <section class="art">
                <h2><a class="fancy-link" href="/art">Art →</a></h2>
                <p>Digital paintings ranging from realistic to impressionistic. Each piece comes with a story or a world.</p>
                <p>Primary inspirations include Johannes Vermeer, the Group of Seven, Edward Hopper, John Singer Sargent, as well as contemporary digital artists like Ethan Becker, Sinix Design, SamDoesArts, and whoever else shows up on my Instagram Explore page and Reddit scrolling.</p>
                <p>Tools: Sketchbook app, iPad, and an Apple Pencil (though sometimes, particularly before Dec. 2021, finger only and no Pencil).</p>
            </section>
        
            <section class="code">
                <h2><a class="fancy-link" href="https://github.com/lukearcamo?tab=repositories">Code ↗</a></h2>
                <p>A link to my GitHub. It is incomplete, but still a good representative sample of my unpublished projects. Key interests include web design and 3D graphics using WebGL/OpenGL (raytracing/raymarching, shaders, procedural generation).</p>
                <h3>Familiar with:</h3>
                <ul class="languages-list">
                    <li><img loading="lazy" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-plain.svg"/>Python</li>
                    <li><img loading="lazy" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg"/>JavaScript</li>
                    <li><img loading="lazy" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-plain.svg"/>HTML</li>
                    <li><img loading="lazy" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-plain.svg"/>CSS, Sass</li>
                    <li><img loading="lazy" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/cplusplus/cplusplus-plain.svg"/>C++, C</li>
                    <li><img loading="lazy" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/opengl/opengl-plain.svg"/>GLSL, OpenGL</li>
                    <li><img loading="lazy" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/threejs/threejs-original.svg"/>WebGL, Three.js</li>
                    <li><img loading="lazy" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/matlab/matlab-plain.svg"/>MATLAB</li>
                </ul>
            </section>
        
            <section class="articles">
                <h2><a class="fancy-link" href="/articles">Articles →</a></h2>
                <p>Coding discussions, book reviews, and engineering notes. Mild spoilers in book reviews, though I try to hide most of it.</p>
                <details><summary>Preferences:</summary>
                    <p>
                        I generally like all of the stuff I read, whether that's because I choose carefully, appreciate writing skill, or the fact that hatred is exhausting.
                        However, here are some trends I have identified in my taste:
                    </p>
                    <ul>
                        <li>Favourite genre: New Wave science fiction</li>
                        <li>Detailed worldbuilding, with attention to scientific accuracy and historical precedent</li>
                        <li>Intercultural contact, revealing how each side reacts to the unfamiliar</li>
                        <li>Pushing the boundaries of the human experience, a greater extent of pain and joy than in real life, yet still fundamentally relatable</li>
                        <li>Slice of life, <i><a href="https://en.wikipedia.org/wiki/Mono_no_aware">mono no aware</a></i></li>
                        <li>Complicated characters and plots</li>
                        <li>Ambivalent emotions e.g. nostalgia</li>
                        <li>Philosophical themes, ideas that challenge my own worldview and can be assimilated. When reading, one of my goals besides entertainment is personal growth.</li>
                        <li>Beautiful quotes. Think Borges or <i>Dune</i>.</li>
                        <li>I don't mind spoilers much since I value the story's journey, not just the ending.</li>
                    </ul>
                </details>
                <br><h3>Latest posts:</h3><br>
                {% for post in site.posts limit:2 %}
                    <a href="{{ post.url }}">{{ post.title }} →</a>
                    <p class="date">{{ post.date | date: "%F" }}</p>
                    {{ post.excerpt }}
                {% endfor %}
            </section>

        </main>
    </body>
</html>