---
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
    <head>
        {% include head.html %}
        <link rel="stylesheet" href="/assets/css/index.css">
    </head>
    <body>
        <div id="fade" class="fade"></div>
        <script src="/assets/js/fancy-links.js" defer></script>
        
        <header>
            {% include nav.html %}
            <!-- <img id="portrait" draggable="false" loading="lazy" src="/assets/images/index/portrait.png"></img> -->
            <h1 class="giant" data-text="Luke Arcamo">Luke<br>Arcamo</h1>
        </header>
        
        <main>
            <section class="about">
                <h2>About</h2>
                {% assign year_fraction = "now" | date: "%j" | divided_by: 365 %}
                <blockquote>
                    <i>“But I am an artist too, and therefore a liar. Distrust everything I say. I am telling the truth.”</i> —Ursula K. Le Guin<br><br>
                </blockquote>
                <p>
                    Hello! My name is Luke, and I am a {{ "now" | date: "%y" | plus: year_fraction | minus: 4.712 | round }} year old chemical engineering student from Toronto.
                    I created this website to showcase the projects I have worked on throughout my life, personal or professional, spanning art and science.
                </p>
                <!-- <h3>Contact:</h3> -->
                <ul class="contact-info">
                    <li><a href="https://www.instagram.com/bepis4094/">
                        <img width=50 height=50 alt="Github" src="https://cdn.jsdelivr.net/gh/gauravghongde/social-icons@master/SVG/Black/Instagram_black.svg">
                    </a></li>
                    <li><a href="https://github.com/lukearcamo">
                        <img width=50 height=50 alt="Github" src="https://cdn.jsdelivr.net/gh/gauravghongde/social-icons@master/SVG/Black/Github_black.svg">
                    </a></li>
                    <li><a href="mailto:larcamo@outlook.com">
                        <img width=50 height=50 alt="Email" src="https://cdn.jsdelivr.net/gh/gauravghongde/social-icons@master/SVG/Black/Outlook_black.svg">
                    </a></li>
                    <!-- Discord? -->
                </ul>
            </section>

            <section class="art">
                <h2><a class="fancy-link from-left" href="/art">Art →</a></h2>
                <p>Stories told in a realistic, impressionistic, painterly style through a digital medium.</p>
                <p>Primary inspirations: Johannes Vermeer, the Group of Seven, Edward Hopper, John Singer Sargent, and various other contemporary digital artists.</p>
                <p>Tools: Sketchbook app, iPad, and an Apple Pencil.</p>
            </section>
        
            <section class="code">
                <h2><a class="fancy-link from-left" href="https://github.com/lukearcamo?tab=repositories">Code →</a></h2>
                <!-- <p>My GitHub contains mainly unfinished projects lacking in documentation, with more unpublished experiments beyond it.</p> -->
                <p>Key interests include web design and 3D graphics using WebGL/OpenGL (raytracing/raymarching, shaders, procedural generation). Familiar with:</p>
                <ul class="languages-list">
                    <li><img loading="lazy" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-plain.svg"/>Python</li>
                    <li><img loading="lazy" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg"/>JavaScript</li>
                    <li><img loading="lazy" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-plain.svg"/>HTML</li>
                    <li><img loading="lazy" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-plain.svg"/>CSS, Sass</li>
                    <li><img loading="lazy" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/cplusplus/cplusplus-plain.svg"/>C++, C</li>
                    <li><img loading="lazy" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/opengl/opengl-plain.svg"/>GLSL, OpenGL</li>
                    <li><img loading="lazy" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/threejs/threejs-original.svg"/>WebGL, Three.js</li>
                    <li><img loading="lazy" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/matlab/matlab-plain.svg"/>MATLAB</li>
                </ul>
            </section>
        
            <section class="articles">
                <h2><a class="fancy-link from-left" href="/articles">Articles →</a></h2>
                <p>Coding discussions, book reviews, and engineering textbook notes. Mild spoilers in book reviews, though I try to hide most of it.</p>
                <details><summary>Preferences:</summary>
                    <p>
                        I generally like all of the stuff I read. It's hard for me to hate a particular book or genre.
                        I can appreciate the writing skill involved in any work even if it doesn't match my tastes.
                        However, here are some trends I have identified in my preferences:
                    </p>
                    <ul>
                        <li>Favourite genre: New Wave science fiction</li>
                        <li>Detailed worldbuilding, with attention to scientific accuracy and historical precedent</li>
                        <li>Intercultural contact, revealing how each side reacts to the unfamiliar</li>
                        <li>Pushes the boundaries of the human experience -- involves a greater extent of pain and joy than in real life</li>
                        <li>Slice of life, <i><a class="text-link" href="https://en.wikipedia.org/wiki/Mono_no_aware">mono no aware</a></i></li>
                        <li>Complicated characters and plots</li>
                        <li>Ambivalent emotions e.g. nostalgia</li>
                        <li>Philosophical. Ideas that challenge my own worldview and can be assimilated. In reading, one goal in addition to entertainment is personal growth.</li>
                        <li>Beautiful, poetic, "Borgesian" quotes</li>
                        <li>I don't mind spoilers much since I value the story's journey, not just the ending.</li>
                    </ul>
                </details>
                <br>
                <!-- <h3><a class="fancy-link from-left" href="/articles/tags">Tags →</a></h3> -->
                <h3>Latest:</h3>
                {% for post in site.posts limit:3 %}
                    <p><b><a class="fancy-link from-left" href="{{ post.url }}">{{ post.title }} — {{ post.date | date: "%F" }}</a></b></p>
                    {{ post.excerpt }}
                {% endfor %}
            </section>

        </main>
    </body>
</html>