<h3><a href="" id="backToTop" class="fancy-link from-left">Back to top ↑</a></h3>
<h1>Contact:</h1>
<ul id="contact-info">
    <li><a href="https://www.instagram.com/bepis4094/">
        <img width=50 height=50 alt="Github" src="https://cdn.jsdelivr.net/gh/gauravghongde/social-icons@master/SVG/Black/Instagram_black.svg">
    </a></li>
    <li><a href="https://github.com/lukearcamo">
        <img width=50 height=50 alt="Github" src="https://cdn.jsdelivr.net/gh/gauravghongde/social-icons@master/SVG/Black/Github_black.svg">
    </a></li>
    <li><a href="mailto:larcamo@outlook.com">
        <img width=50 height=50 alt="Email" src="https://cdn.jsdelivr.net/gh/gauravghongde/social-icons@master/SVG/Black/Outlook_black.svg">
    </a></li>
    <!-- Discord? -->
</ul>
<p id="copyright">© {{ "now" | date: '%Y' }} Luke Arcamo</p>