// ================================================================================================================================
// Font & Color Variables
// ================================================================================================================================

@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap);

$heading-font: Poppins, sans-serif;
$body-font: Poppins, sans-serif;
$mono-font: Courier, monospace;

// $linkColor: #5533ff;
$visitedLinkColor: #b366cc;

$black: #181818;
$white: #fcf1e3;
$accent: #E94F37;

// ================================================================================================================================
// Keyframes
// ================================================================================================================================

@keyframes slide-in-left {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
}
@keyframes slide-in-right {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
}
@keyframes slide-in-top {
    from { transform: translateY(-200%); }
    to { transform: translateY(0); }
}
@keyframes slide-in-bottom {
    from { transform: translateY(200%); }
    to { transform: translateY(0); }
}
@keyframes fade {
    from { opacity: 0 }
    to { opacity: 1 }
}

// ================================================================================================================================
// Global container styles
// ================================================================================================================================

html, body {
    padding: 0;
    margin: 0;

    color: $black;

    background-color: $white;

    overflow-x: hidden;
    scroll-behavior: smooth;
    
    // p, ul, ol, details, blockquote, b, a:not(h2>a, h3>a)
    font-size: 16px; // 17px if Times; 20px Montserrat in old website
    font-family: $body-font; 
    line-height: 1.5em;
}

header {
    min-height: 75px;

    position: relative; // required in order to have children with position: absolute

    padding: 0 20vw;
    box-sizing: border-box;

    overflow: hidden; // Include header margins within height

    @media (max-aspect-ratio: 1) {
        padding: 0 15px;
    }
}

h1 {
    margin: 0;
    box-sizing: border-box;

    font-size: 60px; // 80px;
    font-family: $heading-font;
    line-height: 1em;

    word-wrap: break-word;
    // hyphens: auto;
}
h2 {
    margin: 0; // 1em 0 0 0;
    box-sizing: border-box;
    
    font-size: 30px; // 40px;
    font-family: $heading-font;
    line-height: 1em;
}
h3 {
    margin: 0; // 1em 0 0 0;
    box-sizing: border-box;

    font-size: 22px; // 25px;
    font-family: $heading-font; // "Poppins"; Times;
    font-weight: bold;
    line-height: 1em;
}

hr { border: 1px solid black; }

details summary { cursor: pointer; }

// ================================================================================================================================
// Miscellaneous
// ================================================================================================================================

#fade {
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    box-sizing: border-box;

    background-color: black;

    pointer-events: none;
    z-index: 10;

    @keyframes grow {
        from { transform: translate(-50%, -50%) scale(0) }
        to { transform: translate(-50%, -50%) scale(250%) }
    }
    animation: {
        name: fade;
        duration: 1s;
        timing-function: linear;
        fill-mode: both;
        direction: reverse;
    }
}

a {
    display: inline-block;
    box-sizing: border-box;

    color: $accent;
    text-decoration: none;
    line-height: 1.5em;
    font-weight: bold;
    word-break: break-word;

    background: linear-gradient(currentColor 0%, currentColor 100%);
    background-repeat: no-repeat;
    background-size: 0 0.3em; // var(--thickness)
    background-origin: content-box;

    cursor: pointer;

    transition: background-size 0.25s;
    &:hover, &:active {
        background-size: 100% 0.3em; // var(--thickness)
    }
    background-position: 0% 100%; // From left by default
    &.from-right { background-position: 100% 100%; }

    &:visited { color: $visitedLinkColor; }
}

// #logo, #backToTop, .contact li { // I was gonna exempt these from <a> animations, but nvm they look good
.hover-grow {
    transition: transform 0.2s, background-size 0.25s;
    &:hover { transform: scale(1.25); }
}

#logo {
    display: block;
    position: absolute;
    top: 0;
    left: 0;

    padding: 15px;

    color: $accent;

    animation: {
        name: slide-in-top;
        duration: 2s;
        fill-mode: none; // so that transition can still work
    }

    svg {
        height: 45px;
        fill: currentColor;
    }

    @extend .hover-grow;
}

#navbar {
    position: absolute;
    top: 20px;
    right: 0;

    padding: 0;
    margin: 0;
    box-sizing: border-box;

    display: flex;
    flex-flow: row wrap;
    align-content: end;
    justify-content: right;
    align-items: flex-end;

    li {
        display: block;

        padding: 0 0.5em;
        border-left: 2px solid currentColor;
        &:first-of-type { border: none; }
    }

    animation: {
        name: slide-in-top;
        duration: 2s;
        fill-mode: both;
    }
}

.date {
    font-family: $mono-font;
    font-weight: bold;
}

.contact {
    padding: 0;
    li {
        display: inline-block;
        @extend .hover-grow;
    }
    svg { fill: $accent; }
}

.tags {
    padding: 0;
    list-style-type: none;
    font-weight: bold;

    li {
        display: inline-block;
        padding: 0 0.5em;
        border-left: 2px solid currentColor;
        &:first-of-type { border: none; }
        font-family: $mono-font;
    }
}