$linkColor: #5533ff; // #8080ff
$visitedLinkColor: #b366cc; // #ee80ff

$black: #0D1116;
$dark: #26303C; // 3180a5
$blue: #0A9396;
$dark-white: #d1bb9f;
$off-white: #fae9d4;
$gold: #EE9B00;
$orange: #BB3E03;
$red: #841A00;