---
---
@import "base";

body, html {
    color: $white;
    background-color: $black;
}

main {
    padding: 10px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;

    .gallery-img {
        width: 15vw;
        height: 15vw;

        border-radius: 10px;
        box-sizing: border-box;
        border: 0px solid transparent;
        transition: border 0.25s;

        background-color: $accent;

        &:hover {
            border: 6px solid $accent;
        }
        @media (max-aspect-ratio: 1) {
            width: 28vw;
            height: 28vw;
        }
    }
    img {
        width: 100%;
        height: 100%;

        object-fit: cover;
    }
}