---
---
@import "base";

body, html {
    color: $off-white;
    background-color: $black;
}

main {
    padding: 15px 0;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    img {
        width: 16vw;
        height: 16vw;
    
        margin: 0.2vw;
        border-radius: 10px;
        box-sizing: border-box;

        background-color: #26303C;

        object-fit: cover;
        border: 0px solid transparent;
        transition: border 0.25s;

        &:hover {
            border: 6px solid $off-white;
        }
    }

    @media (max-aspect-ratio: 1) {
        justify-content: center;
        img {
            width: 30vw;
            height: 30vw;
        }
    }
}