---
---
@import "base";

body, html {
    color: $black;
    background-color: $off-white;
}

header {
    padding: 0 20vw;
    border-bottom: 2px solid $black;
    overflow: hidden;
    h2 { margin-top: 3em; }
    h3 { margin-top: 1em; }
    
    @media (max-aspect-ratio: 1) {
        padding: 0 15px;
    }
}

.tags-cloud {
    padding: 1em 20vw;

    text-align: justify;
    font-family: Courier;
    font-weight: bold;

    a { margin: 0 10px; }
}

section {
    padding: 0 20vw;

    @media (max-aspect-ratio: 1) {
        padding: 0 15px;
    }
}