---
---
@import "base";

body { background-color: $off-white; } // in case list is empty, content may be too short and white bg shows

header {
    padding: 0 20vw;
    border-bottom: 2px solid $black;
    overflow: hidden;
    h2 { margin-top: 3em; }
}

.tags-cloud {
    text-align: justify;
    font-family: Courier;
    font-weight: bold;
    a { margin: 0 10px; }
}

section {
    padding: 0 20vw;
    h3 { padding-top: 1em; }
}