---
---
@import "base";

body { background-color: $off-white; } // in case list is empty, content may be too short and white bg shows

header {
    padding-bottom: 3%;
    h2 { margin-top: 2em; }
}

.tags-cloud {
    text-align: justify;
    font-family: Courier;
    font-weight: bold;
    a { margin: 0 10px; }
}

p { padding-bottom: 1.5em; }