---
---
@import "base";

header {
    padding: 0;
    
    color: $white;
    
    background-color: $black;

    .giant {
        margin-top: 0.5em;
        margin-left: 15px;

        color: $accent;
        font-size: 15vw;
        line-height: 0.85em;

        animation: {
            name: slide-in-bottom;
            duration: 2s;
            timing-function: ease-in-out;
            fill-mode: both;
        }

        @media (max-aspect-ratio: 1) {
            margin-top: 1em;
            font-size: 22vw;
        }
    }
}

main {
    padding: 0;

    display: flex;
    flex-flow: row wrap;
    align-items: stretch;

    overflow: hidden;

    section {
        width: 25%;
    
        padding: 15px;
        box-sizing: border-box; // Include padding in width

        animation: {
            name: slide-in-top;
            duration: 2s;
            timing-function: ease-in-out;
            fill-mode: both;
        }
    }
    .about h2 {
        line-height: 1.5em;
    }
    .date { margin: 0; }
    
    @for $i from 1 through 5 {
        section:nth-child(#{$i}) {
            animation: {
                delay: 0.1s * $i - 0.1;
            }
        }
    }

    @media (max-aspect-ratio: 1) {
        section {
            width: 100%;
            animation-name: slide-in-left;
            border-bottom: 2px solid $black;
        }
    }
}
.languages-list {
    padding: 0;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: start;
    gap: 10px;

    list-style-type: none;

    li {
        width: 70px;
        
        font-size: 13px;
        line-height: 1em;
        text-align: center;

        img { width: 100%; }
    }
}