---
---
@import "base";

body, html {
    color: $off-white;
    background-color: $black;
}

header { border: none; }

main {
    padding: 15px;
    
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;

    img {
        max-width: 40vw;
        max-height: 80vh;
        
        object-fit: contain;
        object-position: center top;
    }
    .caption {
        max-width: 40vw;
        a:not(h3 > a) {
            @extend .text-link;
        }
    }
    @media (max-aspect-ratio: 1) {
        img {
            max-width: 100%;
            max-height: unset;
        }
        .caption {
            max-width: 100%;
        }
    }
}