<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
    <head>
        {% include head.html %}
        <link rel="stylesheet" href="/assets/css/article.css">
    </head>
    <body>
        {% assign sections = content | split: "<!--split-->" %}
        
        <div id="fade"></div>
        <script src="/assets/js/fancy-links.js" defer></script>

        <header>
            <h1>{{ page.title }}</h1>
            <p class="date">{{ page.date | date: "%F" }}</p>
            {{ sections[0] }}
            
            <ul class="tags">
                Tags:
                {% for tag in page.tags %}
                    <li><a href="/articles/tags?tag={{ tag }}">{{ tag }}</a></li>
                {% endfor %}
            </ul>
            {% include nav.html %}
        </header>

        <main>
            <details id="toc">
                <summary style="list-style-type: none;"><h3>☰</h3></summary>
                {{ sections[1] }}
            </details>
            <article>
                {{ sections[2] }}
            </article>
        </main>

        {% include footer.html %}
    </body>
</html>