<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
    <head>
        {% include head.html %}
        <link rel="stylesheet" href="/assets/css/articles_list.css">
    </head>
    <body>
        <div id="fade" class="fade"></div>
        <script src="/assets/js/fancy-links.js" defer></script>

        <header class="articles-{{ page.title | slugify }}">
            {% include nav.html %}
            <h2>Articles:</h2>
            <h1>{{ page.title }}</h1>
            {% if page.title != "Latest" %}<h3 class="articles-list-links"><a class="fancy-link from-left" href="/articles/latest">Sort by latest →</a></h3>{% endif %}
            <h3 class="articles-list-links"><a class="fancy-link from-left" href="/articles/categories">Sort by categories →</a></h3>
            {% if page.title != "Tags" %}<h3 class="articles-list-links"><a class="fancy-link from-left" href="/articles/tags">Sort by tags →</a></h3>{% endif %}
        </header>
        
        <main>
            {{ content }}
        </main>

        <footer>
            {% include footer.html %}
        </footer>
    </body>
</html>