<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
    <head>
        {% include head.html %}
        <link rel="stylesheet" href="/assets/css/articles_list.css">
    </head>
    <body>
        <div id="fade"></div>
        <script src="/assets/js/fancy-links.js" defer></script>

        <header>
            {% include nav.html %}
            <h1>Articles: {{ page.title }}</h1>
            {% if page.title != "Latest" %}<h2 class="articles-list-links"><a class="fancy-link" href="/articles">Sort by latest →</a></h2>{% endif %}
            {% if page.title != "Tags" %}<h2 class="articles-list-links"><a class="fancy-link" href="/articles/tags">Sort by tags →</a></h2>{% endif %}
        </header>
        
        <main>
            {{ content }}
        </main>
    </body>
</html>