<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
    <head>
        {% include head.html %}
        <link rel="stylesheet" href="/assets/css/spotlight.css">
    </head>
    <body>
        <div id="fade"></div>
        <script src="/assets/js/fancy-links.js" defer></script>
        
        <header>
            {% include nav.html %}
        </header>
        
        <main>
            <div class="caption">
                <a class="fancy-link" href="/art">← Back to gallery</a>
                <h2>{{ page.title }}</h2>
                <p class="date">{{ page.date | date: "%F" }}</p>
                {{ content }}
                <!-- Links to sorting by tags are currently not implemented yet -->
                <ul class="tags">
                    Tags:
                    {% for tag in page.tags %}
                        <li>{{ tag }}</li>
                    {% endfor %}
                </ul>
            </div>
            <img src="{{ page.src }}" draggable="false" loading="lazy" />
        </main>
    </body>
</html>