---
layout: articles_list
title: Tags
---
{% for post in site.posts %}
    <section data-tags="{{ post.tags | join: ' ' }}">
        <b><a class="fancy-link from-left" href="{{ post.url }}">{{ post.title }}</a></b>
        <p class="date">{{ post.date | date: "%F" }}</p>
        {{ post.excerpt }}
    </section>
{% endfor %}
<div class="tags-cloud">
    {% assign num-posts = site.posts | size | times: 1.0 %}
    {% assign sorted = site.tags | sort %}
    {% for tag in sorted %}
        <a id="tag-{{ tag[0] }}"
            style="font-size: {{ tag[1] | size | divided_by: num-posts | times: 5.0 | plus: 0.75 }}em;"
            class="tag fancy-link from-left" href="tags?tag={{ tag[0] }}">{{ tag[0] }}</a>
    {% endfor %}
</div>

<script>
    const urlParams = new URLSearchParams(window.location.search);
    const tagName = urlParams.get("tag");

    var isEmpty = true;
    document.querySelectorAll("section").forEach(section => {
        var tags = section.dataset.tags.split(" ");
        // console.log(tags);
        if (tags.includes(tagName)) {
            section.style.display = "block";
            isEmpty = false;
        }
        else {
            section.style.display = "none";
        }
    });

    if (!isEmpty) {
        const tag = document.getElementById("tag-" + tagName);
        tag.style.color = "#fcf1e3";
        tag.style.backgroundColor = "black";
    }
</script>